.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 8%;

  background: rgba(4,11,20,.85);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(37,99,235,.2);

  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-link {
  color: #94A3B8;
  cursor: pointer;
  transition: .3s;
}

.nav-link:hover {
  color: white;
}

.logo {
  color: #3B82F6;
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.auth-links {
  display: flex;
  gap: 18px;
}